body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* HEADER */
.header{
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;   
}

.logo{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    padding: 20px;
}

.logo-items{
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.logo-text{
    color: #F9Faf8; 
    font-size: 24px;
}

.header-links{
    display: flex;
    align-items: center;
}

.header-link{
    color:#e5e7eb;
    font-size: 18px;
    text-decoration: none;
    padding-right: 30px;
}

/* SECTION ONE */
.section-one{
    display: flex;
}

.flex-nav{
    background-color:#1f2937;
    flex: 1 1 5rem;
}

.section-one-footer{
    background-color: #1f2937;
    flex:1;
}

.section-one-content{
    background-color: #1f2937;
    flex: 3 3;
    padding: 70px;
}

.hero-main-text{
    font-size: 48px;
    color: #f9faf8;
    font-weight: bold;
}

.hero-secondary-text{
    font-size: 18px;
    color:#e5e7eb;
}

.btn-sign-up{
    background-color: #3882f6;
    color:#e5e7eb;
    font-size: 16px;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 10px;
}

