body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* HEADER */
.header{
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;   
}

.logo{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    padding: 20px;
}

.logo-items{
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.logo-text{
    color: #F9Faf8; 
    font-size: 24px;
}

.header-links{
    display: flex;
    align-items: center;
}

.header-link{
    color:#e5e7eb;
    font-size: 18px;
    text-decoration: none;
    padding-right: 30px;
}

/* SECTION ONE */
.section-one{
    display: flex;
}

.flex-nav{
    background-color:#1f2937;
    flex: 1 1 5rem;
}

.section-one-footer{
    background-color: #1f2937;
    flex:1;
}

.section-one-content{
    background-color: #1f2937;
    flex: 3 3;
    padding: 70px;
}

.hero-main-text{
    font-size: 48px;
    color: #f9faf8;
    font-weight: bold;
}

.hero-secondary-text{
    font-size: 18px;
    color:#e5e7eb;
}

.btn-sign-up{
    background-color: #3882f6;
    color:#e5e7eb;
    font-size: 16px;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 10px;
}

/*SECTION TWO*/
.section-two-header{
    text-align: center;
    padding: 30px;
    font-size: 36px;
    font-weight: bold;
    color:#1f2937;
}

.section-two-data{
    display: flex;  
    align-items: center;
    justify-content: center;
    gap:30px;
    margin-bottom: 80px;
}

.section-two-data-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 200px;
    text-align: center;
}

.char-img{
    height: 160px;
    width: 160px;
    border: 4px solid #3882f6;
    border-radius: 20px;
    margin: 10px;
}

/*SECTION THREE*/
.section-three{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.quote{
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    padding-top: 100px;
    padding-left: 300px;
    padding-right: 300px;
}

.author{
    font-size: 24px;
    font-weight: bold;
    padding-right: 350px;
    text-align: right;
}
/*SECTION FOUR*/
.section-four{
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action{
    display: flex;
    background-color: #3882f6;
    margin: 100px;
    border-radius: 14px;
    align-items: center;
    gap: 140px;
    padding: 20px 200px 20px 200px;
}

.call-to-action-text{
    color:#e5e7eb;
    font-size: 20px;
}

.btn-call-to-action{
    background-color: #3882f6;
    color:#e5e7eb;
    font-size: 16px;
    width: 120px;
    height: 36px;
    border: none;
    border-radius: 10px;
    border: 2px solid;
    border-color: #e5e7eb;
}
/*FOOTER*/
.footer{
    color: #e5e7eb;
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright{
    padding-top:30px;
    padding-bottom: 30px;
}









